@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?0000');
  src: url('../font/fontello.eot?0000#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?0000') format('woff2'),
    url('../font/fontello.woff?0000') format('woff'),
    url('../font/fontello.ttf?0000') format('truetype'),
    url('../font/fontello.svg?0000#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 600px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e1e3;
}

.popup__form > * {
  margin-bottom: 16px;
}

.popup__form > *:last-child {
  margin-bottom: 0;
}

.popup__input-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  width: 200px;
  padding: 8px 16px;
}

.input__label {
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
  /* margin: 4px 0; */
}

.input__text-container {
  flex: 1;
  border-radius: inherit;
}

.input__text {
  border: none;
  border-radius: inherit;
  font-size: 1rem;
  height: 20px;
  width: 100%;
  color: gray;
}

.input__text:focus {
  outline: none;
}

.input__text[type='password'] {
  font-family: 'fontello';
  font-size: 8px;
  letter-spacing: 2px;
}

.input__action-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 5px;
  background-color: #0d2a47;
  color: #fff;
}

.input__toast {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  transition: all 500ms cubic-bezier(0.36, 0.1, 0.6, 0.16);
  width: 100%;
}

.input__toast--success {
  background-color: #4bb543;
}

.input__toast--error {
  background-color: #cc0000;
}

.input__toast--hidden {
  width: 0%;
}

.input__toast-message {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__toast-message--error {
  color: #fff;
}
