.switch {
  --padding-x: 2px;
  position: relative;
  background-color: gray;
  border: none;
  width: 32px;
  height: 20px;
  border-radius: 12px;
  padding: 0 var(--padding-x);
}

.switch[aria-checked="true"] {
  background-color: blue;
}

.switch:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.1s ease-out;
}

.switch[aria-checked="true"]:after {
  transform: translateX(calc(100% - var(--padding-x) * 2));
}
